<div id="<%= dom_id color_swatch %>">

  <p>
    <strong>Idformula:</strong>
    <%= color_swatch.idFormula %>
  </p>

  <p>
    <strong>Iduser:</strong>
    <%= color_swatch.idUser %>
  </p>

  <p>
    <strong>Colorname:</strong>
    <%= color_swatch.colorName %>
  </p>

  <p>
    <strong>Colorhexa:</strong>
    <%= color_swatch.colorHexa %>
  </p>

  

</div>
